{% extends "base.html" %}

{% block content %}

<div class="row">

	<div class="col-sm-6 col-sm-offset-3">
		
		<h2 class="text-align-center">
			<strong style="color:red">
				Nuestra Historia
			</strong>
		</h2>

		<p>
			Somos una veterinaria fundada en el año 2006, cuando comenzamos a laborar tuvimos una sede en el distrito de los Olivos.
		</p>

		<p>
			Con el tiempo nos hicimos conocidos por la excelente calidad del servicio. Y nos hicimos un nombre, como también una cartera de clientes
		</p>

		<p>
			Actualmente contamos con 3 sedes:

			 - Los Olivos.
			 - Barranco.
			 - Miraflores.

		</p>

	</div>

</div>

{% endblock %}