{% extends "base.html" %}
{% load static %}

{% block content %}

<!--- 
<div class="row">

	<div class="col-sm-6 col-sm-offset-3">
		
		<h2 class="text-align-center">
			<strong style="color:red">
				Servicios Disponibles:
			</strong>
		</h2>

		<p>
			Vacunas
		</p>

		<p>
			Cirugia
		</p>

		<p>
			Desparasitación
		</p>

	</div>

</div>
-->

	 <div class="col-xs-12 separador"></div>
     <A name="alm-vacuna"></A>
	 <div  class="col-xs-12 imag-servicios ">
						
						
						  <div class="col-xs-12 col-sm-6 col-md-6">
								<div>
								<br>
								<br>
								   <h3 class="texto-lila">Consultas - Vacunas</h3>
								 </div>
								<p class="text-justify"> En Aristocat tu mascota será atendida prontamente para sus consultas preventivas y de rutina. 
								Nuestros programas de vacunación y desparasitación tienen el objetivo de proteger y elevar la inmunidad de las mascotas  
								a fin de que no contraigan enfermedades virales mortales, como el parvovirus, distemper etc. Contamos con vacunas de alta 
								calidad biológica que van a generar una respuesta inmune y protección ideal a los engreídos de casa. </p>
						 </div>
						  <div class="col-xs-12 col-sm-6 col-md-6">
							<div  class="img-responsive img-circle  text-center"> <br><br><img  src="{% static 'img/vacunas.jpg' %}" height="200px" width="400px" /> </div>
						 </div>
						 
		
	 </div>
	  <div class="col-xs-12 separador"></div>
	  <A name="alm-medicinainterna"></A>
	  <div class="col-xs-12 imag-servicios">
						
						 <div class="col-xs-12 col-sm-6 col-md-6">
							<div  class="img-responsive img-servicios  text-center"> <img   src="{% static 'img/medicina.jpg' %}"  height="250px" width="500px" /> </div>
						 </div>
						  <div class="col-xs-12 col-sm-6 col-md-6">
								<div>
								<br>
								<br>
								<br>
								<br>
						   <h3 class="texto-lila">Medicina interna</h3>
						 </div>
								<p class="text-justify"> En Aristocat  estamos capacitados para diagnosticar y tratar todas las patologías que tu mascota pueda desarrollar
								ya que contamos con los medios de diagnóstico más avanzado, permanentemente estamos capacitándonos en nuevas técnicas y métodos de diagnóstico,
								en medicina de animales de compañía.
                                </p>
						 </div>
						 
		
	 </div>
	 <div class="col-xs-12 separador"></div>
	 <A name="alm-radiografia"></A>
	 <div class="col-xs-12 imag-servicios">
						
						 <div class="col-xs-12 col-sm-6 col-md-6">
						 <div>
						   <h3 class="texto-lila">Radiología digital</h3>
						 </div>
						  <p class="text-justify"> En nuestras clínicas contamos con equipo de Radiografía Digital de última generación. 
La radiografía Digital nos permite obtener imágenes de muy alta calidad para un diagnóstico certero y en consecuencia un abordaje terapéutico  preciso.
Esta técnica permite obtener imágenes en las que podemos  modificar el contraste y tamaño de las estructuras para apreciarlas con mayor detalle, lo cual constituye un importante avance con respecto a la radiografía convencional. Por ejemplo, podemos ajustar los valores de contraste y observar las diferencias de estructuras tan diferentes como huesos y tejidos blandos, todo en una sola toma.
La radiografía digital  también permite reducir la cantidad de radiación que recibe el animal, evitando efectos secundarios.
Por otro lado, Las imágenes digitales se obtienen en un periodo mucho menor y los resultados son grabados en Cd´s  o enviados por correo electrónico.
 </p>
						 </div>
						  <div class="col-xs-12 col-sm-6 col-md-6">
								<div  class="img-responsive img-servicios text-center"><img   src="{% static 'img/radiologia.jpg' %}"  height="250px" width="500px" />  </div>
						 </div>
						 
		
	 </div>
	  <div class="col-xs-12 separador"></div>
	  <A name="alm-ecografia"></A>
	 <div class="col-xs-12 imag-servicios">
						
						 <div class="col-xs-12 col-sm-6 col-md-6">
							<div  class="img-responsive img-servicios text-center"><img   src="{% static 'img/ecografias.jpg' %}"  height="250px" width="520px" />  </div>
						 </div>
						  <div class="col-xs-12 col-sm-6 col-md-6">
								<div>
						   <h3 class="texto-lila">Sesiones ecográficas</h3>
						 </div>
								<p class="text-justify"> Contamos con equipos ecográficos de última tecnología que nos permite valorar las estructuras internas de las mascotas sin ninguna molestia ni riesgo para su salud.
La  ecografía es uno de los métodos de diagnóstico más importantes y avanzados de la medicina veterinaria, que nos proporciona imágenes e información de órganos abdominales, ginecológicos, cardiacos, torácicos e incluso ojos y músculos.
Consiste en un examen sencillo, que al carecer de efectos secundarios, puede ser realizado en un número ilimitado de veces. Para obtener mejores resultados, generalmente se requiere de unas horas de ayuno y que la mascota tenga la vejiga llena.
El estudio ecográfico es un examen bien tolerado por las mascotas, porque no produce dolor.
 </p>
						 </div>
						 
		
	 </div>
	 <div class="col-xs-12 separador"></div>
	 <A name="alm-cirugias"></A>
	 <div class="col-xs-12 imag-servicios">
						
						 
						  <div class="col-xs-12 col-sm-6 col-md-6">
								<div>
								<br>
								<br>
						   <h3 class="texto-lila">Cirugías </h3>
						 </div>
								<p class="text-justify"> Para la realización de  las cirugías contamos con un quirófano completo, equipado con anestesia inhalatoria, que resulta muy segura 
								para la realización de intervenciones quirúrgicas, equipo de oxigenoterapia, pulsímetro, y monitor multiparametro que nos permite el máximo control y 
								evaluación de las constantes fisiológicas vitales del paciente durante la anestesia. 
								</p>
						 </div>
						 <div class="col-xs-12 col-sm-6 col-md-6">
							<div  class="img-responsive img-servicios text-center"><img   src="{% static 'img/cirugias.jpg' %}"  height="250px" width="510px" />  </div>
						 </div>
						 
		
	 </div>
	 <div class="col-xs-12 separador"></div>
	 <A name="alm-hospitalizacion"></A>
	 <div class="col-xs-12 imag-servicios">
						
						 <div class="col-xs-12 col-sm-6 col-md-6">
							<div  class="img-responsive img-servicios text-center"><img src="{% static 'img/hospitalizacion.png' %}" height="300px" width="520px" /> </div>
						 </div>
						  <div class="col-xs-12 col-sm-6 col-md-6">
								<div>
								<br>
								<br>
						   <h3 class="texto-lila">Hospitalización </h3>
						 </div>
								<p class="text-justify"> Cuando es necesario el ingreso de la mascota a el área de hospitalización, Aristocat cuenta con instalaciones especialmente diseñadas 
								y equipadas para la  recuperación de la mascota. Contamos con bombas de infusión, calentadores de suero, oximetro, colchonetas calentadoras, y sobre todo
								enfermeras y médicos que están pendientes de tu mascota en todo momento.
								</p>
						 </div>
						 
		
	 </div>
	 <div class="col-xs-12 separador"></div>
	 <A name="alm-Laboratorio"></A>
	 <div class="col-xs-12 imag-servicios">
						
						 
						  <div class="col-xs-12 col-sm-6 col-md-6">
								<div>
						   <h3 class="texto-lila">Laboratorio propio</h3>
						 </div>
								<p class="text-justify"> La realización de exámenes de laboratorio como son: análisis de sangre, orina, heces, raspados de 
									piel, cultivos, antibiogramas, evaluación electrónica, etc; son piezas fundamentales para realizar un diagnóstico 
									acertado y establecer un protocolo de tratamiento ideal a fin de lograr la recuperación de nuestras queridas mascotas. En Aristocat, 
									contamos con equipos de laboratorio de última generación que nos permite realizar estos análisis tan preciados para nuestros pacientes y clientes.
									Hemos incorporado a nuestro laboratorio equipos de hematología y bioquimica laser de la prestigiosa marca IDEXX(marca lider en laboratorio 
									veterinario en USA, especialista para perros y gatos), este nuevo sistema nos permite 
									realizar analítica de sangre con los resultados mas fiables en un tiempo reducido.
								</p>
						 </div>
						 <div class="col-xs-12 col-sm-6 col-md-6">
							<div  class="img-responsive img-servicios text-center"> <br><br><br><img src="{% static 'img/laboratorio.jpg' %}" height="200px" width="500px" /> </div>
						 </div>
						 
		
	 </div>
	 <div class="col-xs-12 separador"></div>
   </section>
   </div>

{% endblock %}